pkgbase = oflh-desktop
	pkgdesc = Desktop app for finding processes using files and folders
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/karimz1/open-file-lock-handle
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = gtk3
	depends = webkit2gtk-4.1
	depends = openssl
	depends = libappindicator-gtk3
	depends = librsvg
	depends = libxdo
	makedepends = clang
	makedepends = cmake
	makedepends = npm
	makedepends = rustup
	source = oflh-desktop-0.2.0.tar.gz::https://github.com/karimz1/open-file-lock-handle/archive/refs/tags/v0.2.0.tar.gz
	source = oflh-desktop.desktop
	sha256sums = cf7d2e51586e427b902f063b53162f24ae61523555ab1403ca034d00aa8e856d
	sha256sums = f724679ce22ea8df95caea76d4dedc8ee9b1ee19992e0b32c2ec5c1b367f135d
pkgname = oflh-desktop
